/*reset*/
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Smooch Sans', sans-serif; }

.imagenesMenu .imagenUno .imagenHaloFacu, .imagenesMenu .imagenDos .imagenHaloBar, .imagenesMenu .videoUno .videoMenu {
  width: 90%;
  height: 28rem;
  border: 0.5rem solid #A3A8FF;
  border-style: groove;
  margin-left: 3rem;
  justify-content: center; }

.imagenesMenu .imagenUno .imagenHaloFacu, .imagenesMenu .imagenDos .imagenHaloBar, .imagenesMenu .videoUno .videoMenu {
  width: 90%;
  height: 28rem;
  border: 0.5rem solid #A3A8FF;
  border-style: groove;
  margin-left: 3rem;
  justify-content: center; }

/*CSS DE SECCION CONTACTOS*/
.bodyContacto {
  background: #051e34;
  background: radial-gradient(circle, #010508 0%, black 100%);
  height: 100vh; }

/*HEADER CONTACTOS*/
.headerContacto {
  background-image: none;
  background-image: url("../img/forest-passage-4k-wallpaper-preview.jpg");
  background-size: contain;
  padding: 1rem; }
  .headerContacto h1 {
    color: #b1ade2;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; }
  .headerContacto .divContacto .menuContacto li {
    display: inline-block;
    margin: 0.3rem;
    border-radius: 2rem; }
    .headerContacto .divContacto .menuContacto li:hover {
      transform: scale(1.2);
      transition: 1s; }
    .headerContacto .divContacto .menuContacto li a {
      color: #8F8CB0;
      background-color: #0e1349;
      border: 0.1rem solid #A3A8FF;
      border-radius: 0.8rem;
      list-style: none;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: solid;
      padding: 0.1rem;
      width: 10rem; }
  .headerContacto .irFooterC div a {
    color: #979292;
    text-decoration: solid;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.8rem;
    height: 2rem; }

/*MAIN CONTACTOS*/
.mainContacto {
  background-image: none;
  background-image: url("../img/forest-passage-4k-wallpaper-preview.jpg");
  background-size: cover;
  margin-bottom: 200px;
  height: 100vh; }
  .mainContacto .fieldsetContacto {
    background-color: #a59c9c;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    border-style: ridge;
    border-width: 30px;
    border-color: #131212;
    margin-bottom: 100rem; }

.imagenesMenu .imagenUno .imagenHaloFacu, .imagenesMenu .imagenDos .imagenHaloBar, .imagenesMenu .videoUno .videoMenu {
  width: 90%;
  height: 28rem;
  border: 0.5rem solid #A3A8FF;
  border-style: groove;
  margin-left: 3rem;
  justify-content: center; }

/* discografia css*/
/* discofria header*/
.colorDiscografia {
  height: 100vh;
  background: radial-gradient(circle, #03090f 0%, #030118 100%); }

.bodyDiscografia {
  display: grid;
  grid-template-areas: "headerDis headerDis headerDis headerDis" "mainDis mainDis mainDis mainDis" "sectionDisco sectionDisco sectionDisco sectionDisco" "footerD footerD footerD footerD"; }

.headerDiscografia {
  background-image: url("../img/thumb2-forest-night-4k-fireflies-old-tree.jpg");
  margin-bottom: 2rem;
  grid-area: headerDis; }
  .headerDiscografia .tituloDiscografia {
    color: gray;
    text-align: center; }
  .headerDiscografia .menuDiscografiaHalos .menuDiscografia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
    margin: 1rem;
    padding: 0.5rem;
    gap: 1rem; }
    .headerDiscografia .menuDiscografiaHalos .menuDiscografia li a {
      color: #b1ade2;
      border: 0.1rem solid;
      border-radius: 0.8rem;
      list-style: none;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: solid; }
  .headerDiscografia .irFooterD a {
    color: #979292;
    text-decoration: solid;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.8rem;
    height: 2rem; }

/*main discografia*/
.mainDiscografia {
  background: #051e34;
  background: radial-gradient(circle, #051e34 0%, black 100%);
  background-size: contain;
  height: 100vh;
  margin-bottom: 3.3rem;
  grid-area: mainDis;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3.3rem;
  justify-content: center; }
  .mainDiscografia .primerSubtitulo {
    font-size: 2rem;
    color: #000000;
    text-decoration: solid;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #A3A8FF;
    border: 0.2rem solid black;
    padding: 0%;
    position: relative;
    top: 6rem; }
  .mainDiscografia div .imagenAlbumVivo {
    margin-top: 4rem;
    border-style: groove;
    border: 0.3rem solid  #8F8CB0;
    width: 80%;
    margin-left: 3rem;
    animation: animacion 2s linear infinite; }
  .mainDiscografia .textoAlbumVivo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #A3A8FF;
    background: radial-gradient(circle, #03090f 0%, #030118 100%);
    border: 0.5rem solid #A3A8FF;
    border-style: groove; }
    @media screen and (min-width: 600px) {
      .mainDiscografia .textoAlbumVivo {
        font-size: 1.8rem;
        border: 0.5rem solid #A3A8FF;
        border-style: groove; } }
    @media screen and (min-width: 1024px) {
      .mainDiscografia .textoAlbumVivo {
        font-size: 2.1rem;
        border: 0.5rem solid #A3A8FF;
        border-style: groove; } }

/*section doscografia*/
.sectionDisco {
  grid-area: sectionDisco;
  background-image: none;
  background-size: cover;
  margin-bottom: 3.3rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #051e34;
  background: radial-gradient(circle, #051e34 0%, black 100%); }
  .sectionDisco .segundoSubtitulo {
    color: #020314;
    text-decoration: solid;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    background-color: #A3A8FF;
    border: 0.2rem solid black;
    margin-top: 1.5rem; }
  .sectionDisco div .imagenAlbum {
    border-color: #8F8CB0;
    border-style: groove;
    border: 0.3rem solid  #8F8CB0;
    width: 70%;
    height: 20rem;
    margin-left: 4.5rem;
    animation: animacionDos 2s linear infinite; }
  .sectionDisco .textoAlbum {
    font-size: 1.5rem;
    font-weight: bold;
    color: #A3A8FF;
    background: radial-gradient(circle, #03090f 0%, #030118 100%);
    border: 0.5rem solid #A3A8FF;
    border-style: groove; }
    @media screen and (min-width: 600px) {
      .sectionDisco .textoAlbum {
        font-size: 1.8rem;
        border: 0.5rem solid #A3A8FF;
        border-style: groove; } }
    @media screen and (min-width: 1024px) {
      .sectionDisco .textoAlbum {
        font-size: 2.1rem;
        border: 0.5rem solid #A3A8FF;
        border-style: groove; } }

@keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(126, 194, 211, 0.329), 0 0 0 0 rgba(126, 194, 211, 0.295); }
  30% {
    box-shadow: 0 0 0 30px rgba(126, 194, 211, 0), 0 0 0 0 rgba(126, 194, 211, 0); }
  65% {
    box-shadow: 0 0 0 30px rgba(126, 194, 211, 0.158), 0 0 0 30px rgba(126, 194, 211, 0.226); }
  100% {
    box-shadow: 0 0 0 50px rgba(126, 194, 211, 0.096), 0 0 0 10px rgba(126, 194, 211, 0.11); } }

@keyframes animacionDos {
  0% {
    box-shadow: 0 0 0 0 rgba(126, 194, 211, 0.329), 0 0 0 0 rgba(126, 194, 211, 0.295); }
  30% {
    box-shadow: 0 0 0 30px rgba(126, 194, 211, 0), 0 0 0 0 rgba(126, 194, 211, 0); }
  65% {
    box-shadow: 0 0 0 30px rgba(126, 194, 211, 0.158), 0 0 0 30px rgba(126, 194, 211, 0.226); }
  100% {
    box-shadow: 0 0 0 50px rgba(126, 194, 211, 0.096), 0 0 0 10px rgba(126, 194, 211, 0.11); } }

/*footer discografia*/
.footerD {
  grid-area: footerD; }
  .footerD h3 {
    font-size: 1.5rem;
    color: #1170A2;
    margin: 0.5rem; }
  .footerD h4 {
    margin: 0.5rem;
    color: #A3A8FF;
    font-size: 1.3rem;
    font-weight: bold; }
  .footerD h5 {
    display: inline-block;
    background-color: darkmagenta;
    margin-top: 1.3rem;
    border-style: groove;
    border-color: #A3A8FF;
    font-size: 1.3rem; }
  .footerD ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .footerD ul li {
      list-style-type: none;
      font-style: italic;
      font-size: 1rem;
      color: darkmagenta;
      font-weight: bold;
      border-style: groove;
      border-color: #6f6faf;
      border-radius: 0.8rem;
      background-color: #8F8CB0;
      border-width: thick;
      text-transform: uppercase;
      width: 20%; }
      .footerD ul li a {
        list-style-type: none;
        font-style: italic;
        font-size: 1.3rem;
        color: darkmagenta;
        text-decoration: none;
        font-weight: bold; }

.imagenesMenu .imagenUno .imagenHaloFacu, .imagenesMenu .imagenDos .imagenHaloBar, .imagenesMenu .videoUno .videoMenu {
  width: 90%;
  height: 28rem;
  border: 0.5rem solid #A3A8FF;
  border-style: groove;
  margin-left: 3rem;
  justify-content: center; }

.colorNovedades {
  background-image: none;
  background: #470671;
  background: linear-gradient(126deg, #470671 0%, #5b0869 76%, #b61890 98%); }

.bodyNovedades {
  display: grid;
  grid-template-areas: "headerN headerN headerN headerN" "mainN mainN mainN mainN" "footerN footerN footerN footerN"; }

/*header novedades*/
.headerNovedades {
  grid-area: headerN;
  background-image: url("../img/fondo planetario violeta.jpg"); }
  .headerNovedades .menuNovedades ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
    margin: 1rem;
    padding: 0.5rem;
    gap: 1rem; }
    .headerNovedades .menuNovedades ul li a {
      color: #b1ade2;
      border: 0.1rem solid;
      border-radius: 0.8rem;
      list-style: none;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: solid; }
  .headerNovedades .irFooterN a {
    color: #8F8CB0;
    text-decoration: solid;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.8rem;
    height: 2rem; }

/*main novedaes*/
.mainNovedades {
  grid-area: mainN;
  background-image: url("../img/fondo planetario violeta.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; }
  .mainNovedades .subNov {
    color: #A3A8FF;
    text-decoration: solid;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    position: relative;
    top: auto; }
  .mainNovedades .textoNovedades {
    color: #8F8CB0;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: solid;
    text-align: center;
    margin: 2rem; }

/*footer novedades*/
.footerN {
  grid-area: footerN; }
  .footerN h3 {
    font-size: 1.5rem;
    color: #1170A2;
    margin: 0.5rem; }
  .footerN h4 {
    margin: 0.5rem;
    color: #A3A8FF;
    font-size: 1.1rem;
    font-weight: bold; }
  .footerN h5 {
    display: inline-block;
    background-color: darkmagenta;
    margin-top: 1rem;
    border-style: groove;
    border-color: #A3A8FF;
    font-size: 1rem; }
  .footerN ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .footerN ul li {
      list-style-type: none;
      font-style: italic;
      font-size: 1rem;
      color: darkmagenta;
      font-weight: bold;
      border-style: groove;
      border-color: #6f6faf;
      border-radius: 0.8rem;
      background-color: #8F8CB0;
      border-width: thick;
      text-transform: uppercase;
      width: 20%; }
      .footerN ul li a {
        list-style-type: none;
        font-style: italic;
        font-size: 1rem;
        color: darkmagenta;
        text-decoration: none;
        font-weight: bold; }

.imagenesMenu .imagenUno .imagenHaloFacu, .imagenesMenu .imagenDos .imagenHaloBar, .imagenesMenu .videoUno .videoMenu {
  width: 90%;
  height: 28rem;
  border: 0.5rem solid #A3A8FF;
  border-style: groove;
  margin-left: 3rem;
  justify-content: center; }

/*comienza en css de seccion fotos*/
.colorFotos {
  height: 100vh;
  background-color: black; }

.bodiFotos {
  display: grid;
  grid-template-areas: "headerF headerF headerF headerF" "mainFoto mainFoto mainFoto mainFoto" "sectionF sectionF sectionF sectionF" "footerF footerF footerF footerF"; }

/*css header fotos*/
.headerFotos {
  grid-area: headerF;
  background-image: url("../img/forest-passage-4k-wallpaper-preview.jpg");
  background-size: auto; }
  .headerFotos .tituloFotos {
    text-align: center; }
  .headerFotos .menuFotos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
    padding: 0.3rem;
    gap: 2rem; }
    .headerFotos .menuFotos ul li a {
      color: #9b9aa5;
      border-radius: 0.8rem;
      list-style: none;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: solid; }
  .headerFotos .irFooterF a {
    color: #979292;
    text-decoration: solid;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.8rem;
    height: 2rem; }

/*main fotos*/
.mainFoto {
  grid-area: mainFoto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("../img/forest-passage-4k-wallpaper-preview.jpg");
  background-repeat: repeat;
  align-items: center; }

/*footer fotos*/
.footerF {
  grid-area: footerF; }
  .footerF h3 {
    font-size: 1.5rem;
    color: #1170A2;
    margin: 0.8rem; }
  .footerF h4 {
    margin: 0.8rem;
    color: #A3A8FF;
    font-size: 1.3rem;
    font-weight: bold; }
  .footerF h5 {
    display: inline-block;
    background-color: darkmagenta;
    margin-top: 1.3rem;
    border-style: groove;
    border-color: #A3A8FF;
    font-size: 1.5rem; }
  .footerF ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .footerF ul li {
      list-style-type: none;
      font-style: italic;
      font-size: 1rem;
      color: darkmagenta;
      font-weight: bold;
      border-style: groove;
      border-color: #6f6faf;
      border-radius: 0.8rem;
      background-color: #8F8CB0;
      border-width: thick;
      text-transform: uppercase;
      width: 20%; }
      .footerF ul li a {
        list-style-type: none;
        font-style: italic;
        font-size: 1.3rem;
        color: darkmagenta;
        text-decoration: none;
        font-weight: bold; }

.imagenesMenu .imagenUno .imagenHaloFacu, .imagenesMenu .imagenDos .imagenHaloBar, .imagenesMenu .videoUno .videoMenu {
  width: 90%;
  height: 28rem;
  border: 0.5rem solid #A3A8FF;
  border-style: groove;
  margin-left: 3rem;
  justify-content: center; }

/* empieza css de seccion videos*/
.colorVideos {
  background-image: none;
  background-color: black;
  height: 100vh; }

.bodyVideos {
  display: grid;
  grid-template-areas: "headerVideos headerVideos headerVideos headerVideos" "mainVideos mainVideos mainVideos mainVideos" "mainVideos mainVideos mainVideos mainVideos" "footerVideos footerVideos footerVideos footerVideos"; }

/*css de header videos*/
.headerVideos {
  grid-area: headerVideos;
  background-image: url("../img/forest-passage-4k-wallpaper-preview.jpg");
  background-size: auto; }
  .headerVideos h1 {
    color: gray;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 2.5rem; }
  .headerVideos .menuVideos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
    gap: 2rem; }
    .headerVideos .menuVideos ul li a {
      color: #9b9aa5;
      border-radius: 0.8rem;
      list-style: none;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: solid; }
  .headerVideos .irFooterV a {
    color: #979292;
    text-decoration: solid;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.8rem;
    height: 2rem; }

/*css main vdeos*/
.mainVideos {
  grid-area: mainVideos;
  background-image: url("../img/forest-passage-4k-wallpaper-preview.jpg");
  background-repeat: round;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 110rem; }
  .mainVideos h2 {
    margin: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    font-size: 3rem;
    height: 10rem; }
  .mainVideos .textoUnoVideo {
    background-color: transparent;
    color: #A3A8FF;
    margin: 1.8rem;
    font-style: italic;
    line-height: 1.6;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    border: 0.5rem solid #A3A8FF;
    border-style: groove; }
  .mainVideos .videoUno {
    margin: 1.3rem;
    border-style: groove;
    border-width: 0.8rem;
    border-color: #022402;
    border-radius: 3rem;
    margin-bottom: 2rem;
    width: 70%;
    height: 25rem; }
  .mainVideos .segundoSubVideo {
    margin: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    font-size: 3rem;
    height: 10rem; }
  .mainVideos .textoDosVideo {
    background-color: transparent;
    color: #A3A8FF;
    margin: 2rem;
    font-style: italic;
    line-height: 1.6;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    border: 0.5rem solid #A3A8FF;
    border-style: groove; }
  .mainVideos .videoDos {
    margin: 1.3rem;
    border-style: groove;
    border-width: 0.8rem;
    border-color: #022402;
    border-radius: 3rem;
    width: 70%;
    height: 25rem; }

/* footer videos*/
.footerVideos {
  grid-area: footerVideos;
  margin-top: 10rem;
  height: 20rem; }
  .footerVideos h3 {
    font-size: 1.5rem;
    color: #1170A2;
    margin: 0.8rem; }
  .footerVideos h4 {
    margin: 0.8rem;
    color: #A3A8FF;
    font-size: 1.3rem;
    font-weight: bold; }
  .footerVideos h5 {
    display: inline-block;
    background-color: darkmagenta;
    border-style: groove;
    border-color: #A3A8FF;
    font-size: 1.5rem; }
  .footerVideos ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .footerVideos ul li {
      list-style-type: none;
      font-style: italic;
      font-size: 1rem;
      color: darkmagenta;
      font-weight: bold;
      border-style: groove;
      border-color: #6f6faf;
      border-radius: 0.8rem;
      background-color: #8F8CB0;
      border-width: thick;
      text-transform: uppercase;
      width: 20%; }
      .footerVideos ul li a {
        list-style-type: none;
        font-style: italic;
        font-size: 1.3rem;
        color: darkmagenta;
        text-decoration: none;
        font-weight: bold; }

/*css index menu*/
.colorMenu {
  background-image: linear-gradient(to left, #0a0a11, #0e1349); }

.bodyMenu {
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "section section section section" "footer footer footer footer"; }

header {
  background-image: url("../img/thumb2-forest-night-4k-fireflies-old-tree.jpg");
  grid-area: header; }
  header h1 {
    color: gray;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 2.5rem; }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0.5rem; }
    header nav ul li:hover {
      transform: scale(1.2);
      transition: 1s; }
    header nav ul li a {
      color: #8F8CB0;
      background-color: #0e1349;
      border: 0.1rem solid #A3A8FF;
      border-radius: 0.8rem;
      list-style: none;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: solid; }
  header .irFooter a {
    color: #1170A2;
    text-decoration: solid;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.8rem;
    height: 2rem; }

/*main menu css*/
main {
  grid-area: main;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  background-image: url("../img/thumb2-forest-night-4k-fireflies-old-tree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: space-around; }
  main h2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #A3A8FF;
    padding: 1.3rem;
    text-align: center;
    position: relative;
    top: 4rem;
    text-transform: lowercase; }
    main h2:hover {
      transform: scale(1.2);
      transition: 2s; }
      @media screen and (min-width: 1024px) {
        main h2:hover {
          font-size: 2.8rem; } }

/*section menu css*/
.imagenesMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.0em;
  grid-area: section; }
  .imagenesMenu .imagenUno {
    width: 90%; }
    @media screen and (min-width: 1024px) {
      .imagenesMenu .imagenUno {
        width: 30%; } }
    .imagenesMenu .imagenUno .imagenHaloFacu:hover {
      transform: scale(1.2);
      transition: 2s; }
  .imagenesMenu .imagenDos {
    width: 90%; }
    @media screen and (min-width: 1024px) {
      .imagenesMenu .imagenDos {
        width: 30%; } }
    .imagenesMenu .imagenDos .imagenHaloBar:hover {
      transform: scale(1.2);
      transition: 2s; }
  .imagenesMenu .videoUno {
    width: 90%; }
    @media screen and (min-width: 1024px) {
      .imagenesMenu .videoUno {
        width: 30%; } }
    .imagenesMenu .videoUno .videoMenu:hover {
      transform: scale(1.2);
      transition: 2s; }
  .imagenesMenu .textoVideoMenu {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background-color: darkmagenta;
    border: 0.5rem solid #A3A8FF;
    border-style: groove; }
    @media screen and (min-width: 600px) {
      .imagenesMenu .textoVideoMenu {
        font-size: 1.8rem;
        color: black;
        background-color: rgba(69, 31, 175, 0.774);
        border: 0.5rem solid #A3A8FF;
        border-style: groove; } }
    @media screen and (min-width: 1024px) {
      .imagenesMenu .textoVideoMenu {
        font-size: 2.1rem;
        color: black;
        background-color: rgba(132, 13, 212, 0.774);
        border: 0.5rem solid #A3A8FF;
        border-style: groove; } }

/*footer menu css*/
footer {
  grid-area: footer; }
  footer h3 {
    font-size: 1.5rem;
    color: #1170A2;
    margin: 0.5rem; }
  footer h4 {
    margin: 0.5rem;
    color: #A3A8FF;
    font-size: 1.3rem;
    font-weight: bold; }
  footer h5 {
    display: inline-block;
    background-color: darkmagenta;
    margin-top: 1.3rem;
    border-style: groove;
    border-color: #A3A8FF;
    font-size: 1.3rem; }
  footer ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    footer ul li {
      list-style-type: none;
      font-style: italic;
      font-size: 1rem;
      color: darkmagenta;
      font-weight: bold;
      border-style: groove;
      border-color: rgba(99, 12, 99, 0.836);
      border-radius: 10px;
      background-color: linear-gradient(to left, #0a0a11, #0e1349);
      border: 3px solid #140307e1;
      text-transform: uppercase;
      width: 5rem; }
      @media screen and (min-width: 1024px) {
        footer ul li {
          font-size: 1.5rem;
          border-radius: 1rem;
          padding: 0.2rem;
          margin: 0.5rem;
          width: 6rem; } }
      footer ul li a {
        list-style-type: none;
        font-style: italic;
        font-size: 1rem;
        color: darkmagenta;
        text-decoration: none;
        font-weight: bold; }
        @media screen and (min-width: 1024px) {
          footer ul li a {
            font-size: 1.5rem; } }
