
//variables//
$color-bordes: #A3A8FF ;
$color-footer: rgb(177, 9, 177) ;
$medida-basica: 1.5rem ;
$medida-minima: 0.5rem ;

//mixin//
@mixin flex {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    list-style: none;
    text-transform:uppercase;
    
}
@mixin botonFooter {
    color: #5245cc98 ;
    text-decoration:solid;
    font-size: 1rem;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.8rem;
    height: 2rem;
}
@mixin aMenu {
    border-radius: 0.8rem;
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
     text-decoration:solid;
}
@mixin estiloLi {
    list-style-type: none;
    font-style: italic;
    font-size: 1rem;
    color: $color-footer;
    font-weight: bold;
    border-style:groove;
    border-color:map-get($map: $premium, $key:color-premium );
    border-radius: 10px;
    background-color:map-get($map: $premium, $key: bg-premium );
    border:map-get($map: $premium, $key:border-premium );
    text-transform:uppercase;
    width: 5rem; }

//mapas//
$standar:(
color-standar:rgb(136, 118, 136),
bg-standar:#8F8CB0,
border-standar:5px solid #A3A8FF,
);

$premium:(
    color-premium: rgba(201, 168, 201, 0.836),
    bg-premium:linear-gradient(to left, #0a0a11 ,#0e1349),
    border-premium:3px solid #140307e1,
);

//extend//
%medidasImg{
    width: 90%;
    height: 28rem;
    border: $medida-minima solid $color-bordes;
    border-style:groove;
    margin-left: 3rem;
    justify-content: center;
}