@import "../utilities/variables" ;


/*CSS DE SECCION CONTACTOS*/
.bodyContacto{
    background: rgb(5,30,52);
    background: radial-gradient(circle, rgba(5,30,52,1) 0%, rgba(0,0,0,1) 100%);
    height: 100vh;
}
/*HEADER CONTACTOS*/

.headerContacto{
    background-image: none;
    background-image: url('../img/halo animacion7.gif');
    background-repeat:repeat;
    background-size:contain;
    padding:1rem;
    h1{
        color: #b1ade2;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Fjalla One', sans-serif;
    }
    .divContacto{
        .menuContacto {
            li {
                display: inline-block;
                margin:0.3rem;
                border-radius: 2rem;
                

                
                &:hover{
                 transform: scale(1.2) ;
                 transition: 1s;}
                a{
                 color: #8F8CB0 ;
                 background-color: #0e1349;
                 border: 0.1rem solid $color-bordes ;
                 @include aMenu;

                 padding: 0.1rem;
                 width: 10rem;

                }
            }
        }
     }
     .irFooterC {
        div{
            a{
              @include botonFooter;
            }
        } 
    } 
} 




/*MAIN CONTACTOS*/

.mainContacto{
    background-image: none;
    background-image:url('../img/halo animacion2.png');
    background-size:cover;
    margin-bottom: 200px;
    height: 100vh;
    .fieldsetContacto{
        background-color:rgb(165, 156, 156) ;
        color:black;
        font-size: 40px;
        font-weight: bold;
        margin: 30px;
        border-style:ridge;
        border-width: 30px;
        border-color: rgb(19, 18, 18);
        margin-bottom: 100rem;
    }

}
.footerContacto{
    background-image: url('../img/halo animacion7.gif');
    background-size:auto;
    background-repeat:repeat;}
