@import "../utilities/variables" ;


/* discografia css*/

/* discofria header*/

.colorDiscografia{
 height: 100vh;
 background: rgb(5,30,52);
 background: radial-gradient(circle, rgba(5,30,52,1) 0%, rgba(0,0,0,1) 100%);
 
 }
.bodyDiscografia{
 display: grid;
 grid-template-areas: "headerDis headerDis headerDis headerDis"
                      "mainDis mainDis mainDis mainDis"
                      "sectionDisco sectionDisco sectionDisco sectionDisco"
                      "footerD footerD footerD footerD";}
 
.headerDiscografia{
background-image:none;
background-image: url('../img/halo animacion7.gif');
background-size:auto;
background-repeat:repeat;
 margin-bottom: 2rem;
 grid-area: headerDis;
    .tituloDiscografia{
     font-family: 'Fjalla One', sans-serif;
     color: #b1ade2;
     font-size: 2.5rem;
     text-align:center; }
    .menuDiscografiaHalos{
       .menuDiscografia{
          @include flex ;
          margin: 1rem;
          padding: 0.5rem;
          gap: 1rem;
          li{
             a{
              color:#b1ade2;
              border: 0.1rem solid;
              @include aMenu;
               }
           }
          }
        }
      
    
    .irFooterD{
        a{
            @include botonFooter;
        }
    }
}

 
/*main discografia*/
 
.mainDiscografia{
     background-image: none;
     background-image: url('../img/halo animacion9.png');
     height:100vh;
     margin-bottom: 3.3rem;
     grid-area: mainDis;
     display: flex;
     flex-direction:column;
     flex-wrap: nowrap;
     align-items:center;
     gap :3.3rem;
     justify-content: center;
    .primerSubtitulo{
     font-size: 2rem;
     color:#000000;
     text-decoration: solid;
     font-weight:bold;
     text-transform: uppercase;
     background-color: #A3A8FF;
     border: 0.2rem solid black;
     padding: 0%;
     position: relative;top: 6rem;}
      div{
          .imagenAlbumVivo{
          margin-top: 4rem;
          border-style: groove;
          border:0.3rem solid  #8F8CB0 ;
          width: 80%;
          margin-left: 3rem;
          animation: animacion 2s linear infinite;
          }
        }
        .textoAlbumVivo{
          font-size: $medida-basica;
          font-weight:bold;
          color:  #A3A8FF;
          background: radial-gradient(circle,rgb(3, 9, 15) 0%, rgb(3, 1, 24) 100% );
          border: $medida-minima solid $color-bordes;
          border-style:groove; 
          @media screen and (min-width:600px){
          font-size: 1.8rem;
          border: 0.5rem solid #A3A8FF;
          border-style:groove;}
          @media screen and (min-width:1024px){
          font-size: 2.1rem;
          border: 0.5rem solid #A3A8FF;
          border-style:groove;
           }
        }
 }

 /*section doscografia*/
.sectionDisco{
    grid-area: sectionDisco;
    background-image: none;
    background-image: url('../img/halo animacion9.png');
    background-size: cover;
    margin-bottom: 3.3rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
    
    .segundoSubtitulo{
        color:#020314;
        text-decoration: solid;
        font-size: 2rem;
        font-weight:bold;
        text-transform: uppercase;
        align-items: center;
        background-color: #A3A8FF;
        border: 0.2rem solid black;
        margin-top: 1.5rem;
      }
    div{
      .imagenAlbum{
        border-color: #8F8CB0;
        border-style: groove;
        border:0.3rem solid  #8F8CB0 ;
        width: 70%;
        height: 20rem;
        margin-left: 4.5rem;
        animation: animacionDos 2s linear infinite;}
      }
    .textoAlbum{
      font-size: $medida-basica;
      font-weight:bold;
      color:  #A3A8FF;
      background: radial-gradient(circle,rgb(3, 9, 15) 0%, rgb(3, 1, 24) 100% );
      border: $medida-minima solid $color-bordes;
      border-style:groove; 
      @media screen and (min-width:600px){
      font-size: 1.8rem;
      border: 0.5rem solid #A3A8FF;
      border-style:groove;}
      @media screen and (min-width:1024px){
      font-size: 2.1rem;
      border: 0.5rem solid #A3A8FF;
      border-style:groove;
       }
        }
 }


 @keyframes animacion {
     0%{
         box-shadow: 0 0 0 0 hsla(192, 49%, 66%, 0.329) ,0 0 0 0 hsla(192, 49%, 66%, 0.295);
     }
     30%{
         box-shadow: 0 0 0 30px hsla(192, 49%, 66%, 0) , 0 0 0 0 hsla(192, 49%, 66%, 0); 
     }
   65%{
         box-shadow: 0 0 0 30px hsla(192, 49%, 66%, 0.158) ,0 0 0 30px hsla(192, 49%, 66%, 0.226);
     }
     100%{
         box-shadow: 0 0 0 50px hsla(192, 49%, 66%, 0.096),0 0 0 10px hsla(192, 49%, 66%, 0.11) ;
     }

 }
 
 
 
 @keyframes animacionDos{
     0%{
         box-shadow: 0 0 0 0 hsla(192, 49%, 66%, 0.329) ,0 0 0 0 hsla(192, 49%, 66%, 0.295);
     }
     30%{
         box-shadow: 0 0 0 30px hsla(192, 49%, 66%, 0) , 0 0 0 0 hsla(192, 49%, 66%, 0); 
     }
   65%{
         box-shadow: 0 0 0 30px hsla(192, 49%, 66%, 0.158) ,0 0 0 30px hsla(192, 49%, 66%, 0.226);
     }
     100%{
         box-shadow: 0 0 0 50px hsla(192, 49%, 66%, 0.096),0 0 0 10px hsla(192, 49%, 66%, 0.11) ;
     }
 } 

 /*footer discografia*/
 .footerD{
  background-image: url('../img/halo animacion7.gif');
  background-size:auto;
  background-repeat:repeat;
  grid-area: footerD;
    h3{
        font-size: $medida-basica;
        color: #1170A2;
        margin: $medida-minima ;}
    h4{
        margin: $medida-minima;
        color: $color-bordes;
        font-size: 1.3rem;
        font-weight: bold; }
    h5{
       display: inline-block;
       background-color: $color-footer;
       margin-top: 1.3rem;
       border-style: groove;
       border-color: $color-bordes;
       font-size: 1.3rem; }
     ul{
        display:flex;
        flex-wrap:nowrap;
        justify-content:space-between;
        li { 
        @include estiloLi ;
        @media screen and (min-width:1024px){
            font-size: 1.5rem;
            border-radius: 1rem;
            padding: 0.2rem;
            margin: 0.5rem;
            width: 6rem;
            }
         a{
          list-style-type: none;
          font-style: italic;
          font-size: 1.3rem;
          color: darkmagenta;
          text-decoration: none;
          font-weight: bold;
          @media screen and (min-width:1024px) {
            font-size: 1.5rem;} }
        }
     }
 }
 
 
 
 