@import "../utilities/variables" ;


.colorNovedades{
background-image: none;
background: rgb(5,30,52);
 background: radial-gradient(circle, rgba(5,30,52,1) 0%, rgba(0,0,0,1) 100%);
}
.bodyNovedades {
display: grid;
grid-template-areas: "headerN headerN headerN headerN"
                     "mainN mainN mainN mainN"
                     "footerN footerN footerN footerN"; }

 /*header novedades*/

.headerNovedades{
grid-area: headerN;   
background-image:none;
background-image: url('../img/halo animacion7.gif');
background-repeat:repeat;
background-size:contain;
  .tituloNovedades{
    color: #b1ade2;
    font-size: 2.5rem;}
  }
  .menuNovedades{
      ul{
        @include flex ;
        margin: 1rem;
        padding: 0.5rem;
        gap: 1rem;
        li{
           a{
            color:#b1ade2;
            border: 0.1rem solid;
            @include aMenu;
             }
         }
        }
      }
  .irFooterN {
      a{
         @include botonFooter;
        }
     } 

    

/*main novedaes*/

.mainNovedades{
grid-area: mainN;
background-image: url('../img/halo animacion7.gif');
background-size:contain;
background-repeat: repeat;
display: flex;
flex-direction:row;
flex-wrap:wrap; 
align-items:flex-start; 
justify-content:center;
  .subNov{
    color:#A3A8FF;
    text-decoration: solid;
    font-size: 2rem;
    font-weight:bold;
    text-transform: uppercase;
    justify-content:center;
    position: relative;
    top: auto;
    @media screen and (min-width:1024px){
      font-size: 2.5rem;
      }}
  .textoNovedades{
     color: #8F8CB0;
     font-style: italic;
     font-weight: bold;
     font-size: 1.3rem;
     text-decoration: solid;
     text-align: center;
     margin: 2rem;
     @media screen and (min-width:1024px){
      font-size: 2rem;
      }
     }
}

/*footer novedades*/

.footerN{
grid-area: footerN;
background-image: url('../img/halo animacion7.gif');
background-size:auto;
background-repeat:repeat;
  h3{
      font-size: $medida-basica;
      color: #1170A2;
      margin: $medida-minima ;}
  h4{
      margin: $medida-minima;
      color: $color-bordes;
      font-size: 1.3rem;
      font-weight: bold; }
  h5{
     display: inline-block;
     background-color: $color-footer;
     margin-top: 1.3rem;
     border-style: groove;
     border-color: $color-bordes;
     font-size: 1.3rem; }
   ul{
      display:flex;
      flex-wrap:nowrap;
      justify-content:space-between;
      li { 
      @include estiloLi ;
      @media screen and (min-width:1024px){
          font-size: 1.5rem;
          border-radius: 1rem;
          padding: 0.2rem;
          margin: 0.5rem;
          width: 6rem;
          }
       a{
        list-style-type: none;
        font-style: italic;
        font-size: 1.3rem;
        color: darkmagenta;
        text-decoration: none;
        font-weight: bold;
        @media screen and (min-width:1024px) {
          font-size: 1.5rem;} }
      }
   }
}


