@import "../utilities/variables" ;


/* empieza css de seccion videos*/
.colorVideos{
background-image: none;
background: rgb(5,30,52);
 background: radial-gradient(circle, rgba(5,30,52,1) 0%, rgba(0,0,0,1) 100%);
height: 100vh;
}

.bodyVideos{
display: grid;
grid-template-areas: "headerVideos headerVideos headerVideos headerVideos"
                     "mainVideos mainVideos mainVideos mainVideos"
                     "mainVideos mainVideos mainVideos mainVideos"
                     "footerVideos footerVideos footerVideos footerVideos";

                     
}

/*css de header videos*/
.headerVideos{
grid-area: headerVideos;
background-image:none;
background-image: url('../img/halo animacion7.gif');
background-repeat:repeat;
background-size:contain;
  h1{
      color: #b1ade2;
      font-size: 2.5rem;
      text-align: center;
      font-weight: bold;
      font-family: 'Fjalla One', sans-serif;
      padding: 2.5rem;
       }
  .menuVideos {
    ul {
       @include flex;
        gap: 2rem;
      li{
         a{
          color: rgb(155, 154, 165) ;
         @include aMenu;}
        }
     }
   }
.irFooterV{
  a{
   @include botonFooter;}
    }
}
/*css main vdeos*/
.mainVideos{
grid-area: mainVideos;
background-image: url('../img/halo animacion5.png');
background-size:contain;
display: flex;
flex-direction:row;
flex-wrap:wrap;
justify-content: center;
height: 110rem;

  h2{
  margin: 3rem;
  margin-bottom: 3rem;
  padding:2rem;
  font-size: 3rem;
  height: 10rem;}
  .textoUnoVideo{
  background-color: transparent;
  color: #A3A8FF;
  margin: 1.8rem;
  font-style: italic;
  line-height: 1.6;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border: $medida-minima solid $color-bordes;
  border-style:groove;
  @media screen and (min-width:1024px){
    font-size: 2rem;
    }
 }
  .videoUno{
  margin: 1.3rem;
  border-style: groove;
  border-width: 0.8rem;
  border-color: rgb(2, 36, 2);
  border-radius: 3rem;
  margin-bottom: 2rem;
  width: 70%;
  height: 25rem;}
  .segundoSubVideo{
  margin: 3rem;
  margin-bottom: 3rem;
  padding:2rem;
  font-size: 3rem;
  height: 10rem;
  @media screen and (min-width:1024px){
    color:rgba(158, 12, 122, 0.801);
    }}
 
  .textoDosVideo{
  background-color: transparent;
  color: #A3A8FF;
  margin: 2rem;
  font-style: italic;
  line-height: 1.6;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border: $medida-minima solid $color-bordes;
  border-style:groove;
  @media screen and (min-width:1024px){
    font-size: 2rem;
    }}
  .videoDos{
  margin: 1.3rem;
  border-style: groove;
  border-width: 0.8rem;
  border-color: rgb(2, 36, 2);
  border-radius: 3rem;
  width: 70%;
  height: 25rem;}
}
/* footer videos*/
.footerVideos{
background-image: url('../img/halo animacion7.gif');
background-repeat:repeat;
background-size:contain;
grid-area: footerVideos;
margin-top: 10rem;

  h3{
      font-size: $medida-basica;
      color: #1170A2;
      margin: $medida-minima ;}
  h4{
      margin: $medida-minima;
      color: $color-bordes;
      font-size: 1.3rem;
      font-weight: bold; }
  h5{
     display: inline-block;
     background-color: $color-footer;
     margin-top: 1.3rem;
     border-style: groove;
     border-color: $color-bordes;
     font-size: 1.3rem; }
   ul{
      display:flex;
      flex-wrap:nowrap;
      justify-content:space-between;
      li { 
      @include estiloLi ;
      @media screen and (min-width:1024px){
          font-size: 1.5rem;
          border-radius: 1rem;
          padding: 0.2rem;
          margin: 0.5rem;
          width: 6rem;
          }
       a{
        list-style-type: none;
        font-style: italic;
        font-size: 1.3rem;
        color: darkmagenta;
        text-decoration: none;
        font-weight: bold;
        @media screen and (min-width:1024px) {
          font-size: 1.5rem;} }
      }
   }
}

